* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button:active{
  background:olive;
}

button:focus{
  background:olive;
}
table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.Circletooltip {
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 60px;					
  height: 60px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			

}
.tooltip {
  opacity: 0;
  position: absolute;
  text-align: left;
  background-color: grey;
  overflow-y: auto;
  color: white;
  border: 1px;
  width: 200px;
  height: 320px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: small;
  border-radius: 5px;
}


.node:hover{
  stroke-width: 7px !important;
  opacity: 1 !important;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 3px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(199, 197, 176);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
      position: relative;
  }
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu button {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 70%;
  padding: 0 20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
      width: 100%;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif;
}

.fa-anchor,
.fa-coffee {
  font-size: 200px;
}

/* .grids {
  display: none;
} */




/* Float four columns side by side */

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.left {
  width: 30%;
}

.middle {
  width: 70%;
}

.equal {
  width: 50%;
  margin: auto;
}


/* Remove extra left and right margins, due to padding */

.row {
  margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }
}


/* Style the counter cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f1f1f1;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 12px;
}


/* Style the active class, and buttons on mouse-over */

.active {
  background-color: #666;
  color: white;
}

.box {
  width: 120px;
  height: 20px;
  border: 1px solid #999;
  font-size: 12px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

#info p {
  font-size: 14px;
  text-align: left;
}


  button {
    margin-top: 10px;
    background-color: #bc99c4;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
   
  }


button:hover {
  background-color: #696969;
}

button:disabled {
  background-color: #d6d6d6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.numbtns {
  width: 30px
}

.numbtns:disabled {
  background-color: steelblue;
  border-color: #000;
  color: white;
  font-size: 15px;
  width: 35px;
  height: 35px;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

circle {
  fill: lightgray;
  stroke: black;
}
